[2018-11-04 19:28] marcphilipp opened #1 "RFC: Please try out the plugin and provide feedback"
## Steps

1. Clone or download this repository
2. Follow instructions to try out sample
3. Check Nexus staging repos
4. Try it out in your own projects
5. Provide feedback

[2018-11-06 17:14] GeorgeNash commented on #1
Awesome!

Can you publish this to the `Gradle Central Plugin Repository`?

George

[2018-11-06 17:21] marcphilipp commented on #1
I will but won’t get to it before next week. In the meantime, you can use it via jitpack.io (see sample project for setup).

[2018-11-10 02:17] larsgrefer commented on #1
Hi,

we just successfully deployed to maven central from Travis-CI with this plugin.

See here for the logs: https://travis-ci.org/joinfaces/joinfaces/jobs/453153203#L2143-L2932

Great work 👍

[2018-11-10 09:41] marcphilipp commented on #1
I'm glad to hear it! 😊

[2018-11-10 19:35] larsgrefer opened #2 "Build fails when `java-gradle-plugin` is also applied"
When the `java-gradle-plugin` is also applied, the build fails in the configuration phase:

[code]

[2018-11-10 19:43] larsgrefer opened #3 "Feature Request: Reuse the stagingProfileId of `io.codearte.nexus-staging`"
This plugin should detect if the `io.codearte.nexus-staging` plugin is also applied (on the root project) and reuse its `nexusStaging.*` properties:

- `nexusStaging.stagingProfileId` -> `nexusPublish.stagingProfileId`
- `nexusStaging.username` -> `nexusPublish.username`
- `nexusStaging.password` -> `nexusPublish.password`
- `nexusStaging.packageGroup` -> `nexusPublish.packageGroup`

[2018-11-11 16:22] marcphilipp commented on #2
I wrote an integration test for using both plugins in 9976a99 but could not reproduce the issue.

From the stacktrace it looks like a publishing task's repo might be `null`.

@larsgrefer Any ideas?

[2018-11-11 16:37] larsgrefer commented on #2
In my specific case the `nexus-publish-plugin` was applied in an `allprojects`-block in the rootProject and the `java-gradle-plugin` was applied in a subproject. I'll try to create an integration test which reproduces this.

[2018-11-11 19:30] #3 closed, assigned to nobody

[2018-11-13 08:20] marcphilipp commented on #2
@larsgrefer Did you have a chance to write that test?

[2018-11-13 09:52] larsgrefer commented on #2
I wasn't able to reproduce this so far. Even the project where the exception initially occurred seems to work now.

Since the original error is gone, and I couldn't reproduce it, I'm closing this issue. I'll reopen it if I see this error again.

[2018-11-13 15:27] marcphilipp commented on #2
Alright, thanks!

[2018-11-15 21:12] szpak opened #8 "Support for original "maven" plugin"
Even though `maven-publish` has been (finally) greatly improved this year, some people still use the old [`maven` plugin](https://docs.gradle.org/4.10.2/userguide/maven_plugin.html) to publish their projects (with `uploadArchives`). That plugin suffers the same issue with uploading from Travis as `maven-publish`. Do you plan to add support also for that plugin?

[2018-11-15 21:14] szpak opened #9 "More preconfiguration for Maven Central publication"
To make the plugin even more useful you could consider adding some of the features that are available in the @bmuschko's [gradle-nexus-plugin](https://github.com/bmuschko/gradle-nexus-plugin/) for the original `maven` plugin in Gradle.

Uploading to Maven Central requires a creation of the extra sources and javadocs jars, signing the packages and proper pom.xml configuration. It's somehow boring t

[2018-11-16 00:03] larsgrefer commented on #9
@szpak I'm using this plugin successfully in combination with https://plugins.gradle.org/plugin/io.freefair.maven-jars and https://plugins.gradle.org/plugin/io.freefair.maven-publish-java to reduce some of the boilerplate configuration.

This is our full configuration: https://github.com/joinfaces/joinfaces/blob/721f56b3759ee954b089ceb3c8eb3040596cd11e/build.gradle#L174-L229

[2018-11-16 07:43] marcphilipp commented on #9
Thanks for the suggestion! However, I consider that beyond the scope of this plugin.

[2018-11-16 07:43] #9 closed, assigned to nobody

[2018-11-16 23:24] larsgrefer commented on #2
I have found the error again. I'll try to prepare an MCVE

[2018-11-17 01:42] larsgrefer commented on #2
Here is a MCVE: https://github.com/larsgrefer/nexus-publish-bug
(Just run `./gradlew help`)

My findings so far:

The iteration here https://github.com/marcphilipp/nexus-publish-plugin/blob/c536437c8a5457e33c4a7e0a37826f42c5f0d778/src/main/java/de/marcphilipp/gradle/nexus/NexusPublishPlugin.java#L90-L93 is done for all tasks already present on the project and for tasks created later. For the tasks

[2018-11-17 13:49] #2 closed, assigned to marcphilipp

[2018-11-17 13:50] marcphilipp commented on #2
Thanks for the detailed analysis! I've fixed it in 786aea7.

[2018-11-17 15:29] marcphilipp commented on #8
TBH I'd rather not support the old `maven` plugin. There's no reason anymore to use it since Gradle 4.8. I think users who'd like to solve the issue with uploading from Travis should consider migrating to `maven-publish` as a prerequisite for using this plugin. That being said, I'll leave this issue open for the time being to see how many people complain. 😉

[2018-11-18 21:16] szpak opened #10 "Missing release tag for 0.1.0"
The version `0.1.0` seems to be [released](https://plugins.gradle.org/plugin/de.marcphilipp.nexus-publish), but there is no a release tag in GitHub. Without that users are not sure which codebase is used in that version and (what's probably more important) people subscribed to that repository won't get any notification about a new version.

[2018-11-18 21:35] szpak opened #11 "Setting stagingRepositoryId in nexus-staging-plugin"
Currently nexus-publish-plugin + nexus-staging-plugin works fine with Travis for one parallel publishing. To speed up the publishing process and make it more bullet proof the `closeRepository` task could take the (externally set) number instead of looking for one open repository (which always has been a workaround). As a fallback (if not set) it would be still be gathered the old way.

Therefore,

[2018-11-19 07:14] marcphilipp commented on #10
Thanks for the reminder. I was waiting for the plugin to be approved first in case I needed to make any changes. I've pushed a release tag now.

[2018-11-19 07:14] #10 closed, assigned to nobody

[2018-11-19 07:16] marcphilipp commented on #1
Version 0.1.0 of the plugin has been released to the [Gradle Plugin Portal](https://plugins.gradle.org/plugin/de.marcphilipp.nexus-publish).

[2018-11-19 07:16] #1 closed, assigned to nobody

[2018-11-19 07:19] marcphilipp commented on #11
Since this plugin already checks for the presence of nexus-staging-plugin I think that would be a useful addition. Is there an issue with parallel publishing?

[2018-11-19 14:31] szpak commented on #11
nexus-staging-plugin currently has to look for one open staging repository, assuming that the one created by the current build. It makes the whole process fragile as there could be more release build from different projects using the same staging profile. In addition, in a case of failure, somewhere down the line, a repository can be left in an open state and it's required to do a manual clean up

[2018-11-19 15:13] marcphilipp commented on #11
Understood. Let me know when you've published a version of the staging plugin that supports setting the id. I guess I'll have to use reflection to set it to stay compatible with older versions.

[2018-11-26 13:42] marcphilipp opened #12 "Incompatibility with Gradle 5.0"
Using the plugin with Gradle 5.0 yields the following error message:

[code]

[2018-11-26 13:48] #12 closed, assigned to marcphilipp

[2018-12-23 17:53] bartoszwalacik opened #13 "Using this plugin doesn't fix the IP issue when publishing from Travis CI to oss.sonatype.org"
Hi guys, I'm trying to fix my CI/CD pipeline after Travis changed its infrastructure from docker to VMs, which broke many of our builds.

The issue:
https://github.com/gradle/gradle/issues/5711
https://github.com/travis-ci/travis-ci/issues/9555

As far as I understand, this plugin is designed to fix this issue. I tried to used it but without success. I still got the same error on Travis:

[code]

[2018-12-23 19:13] szpak commented on #13
It may be not related, but have you removed all pending staging repositories before triggering that release?

[2018-12-23 19:30] szpak commented on #13
There's something strange with your build. You apply the `maven-publish` plugin, but also `com.bmuschko.nexus` which under the hood uses the old `maven` plugin. In your Travis log there are tasks (such as `uploadArchives`) which seem to suggest that you are using the old `maven` plugin to upload the archives. In that case you may hit #8. However, it's @marcphilipp's plugin and I may miss something

[2018-12-26 14:55] marcphilipp commented on #13
@bartoszwalacik Which Gradle task did you call to publish?

[2018-12-27 15:08] bartoszwalacik commented on #13
@szpak yes, I've removed all pending staging repositories

@marcphilipp I call
[code]

and then

[code]

see https://github.com/javers/javers/blob/master/travis/deployToSonatype.sh

[2019-01-01 17:36] marcphilipp commented on #13
@bartoszwalacik The `uploadArchives` task is part of the old `Upload` task based publishing infrastructure that is not (yet) supported by this plugin.

[2019-01-01 17:36] marcphilipp commented on #13
Duplicate of #8

[2019-01-01 17:36] #13 closed, assigned to nobody

[2019-01-02 07:31] bartoszwalacik commented on #13
@marcphilipp so which task should I call?

[2019-01-02 08:14] marcphilipp commented on #13
The `publish` task (see https://docs.gradle.org/current/userguide/publishing_maven.html).

[2019-01-02 13:56] bartoszwalacik commented on #13
thanks

[2019-01-03 00:00] szpak commented on #11
I made required changes. In the plugin extension there is a Groovy property [`stagingRepositoryId`](https://github.com/Codearte/gradle-nexus-staging-plugin/blob/devel/src/main/groovy/io/codearte/gradle/nexus/NexusStagingExtension.groovy#L27) which can be used to set a value from your task to be reused. I had to [modernize](https://github.com/Codearte/gradle-nexus-staging-plugin/commit/df4ee7187839

[2019-01-03 07:44] marcphilipp commented on #11
Thanks, sounds good to me! Not sure when I'll get to it, though. Do you have time to work on a PR?

[2019-01-04 01:54] szpak commented on #11
I took a look at the code and while just setting a value is trivial, putting it together is more complicated. You very nicely encapsulate internal details (such as `stagingRepositoryId`) in `NexusClient` which in that particular case (getting those details) complicates the thing. I didn't like to make your code "uglier" with my change, so (unless have a flash of inspiration) I would prefer to leav

[2019-01-07 21:12] Vampire opened #14 "publishToNexus name and also credential properties"
As "nexus" is just the repository management software used at sonatype, I set the `repositoryName` to `sonatype`.
Now I wonder, shouldn't maybe the `publishToNexus` task maybe called `"publishTo${repositoryName.capitalize()}"`?
And also the credential propeties `${repositoryName}Username` and `${repositoryName}Password`?

[2019-01-07 21:12] Vampire opened #15 "publishToNexus dependencies"
I'd say the name of this task is a bit misleading anyway?
If you e. g. have publish tasks for an internal repository and for sonatype, this task will depend on all of them, as you conditionless depend on all `PublishToMavenRepository` tasks.
Maybe it would be more helpful if the task actually only depends on the publish tasks that publish to sonatype?

[2019-01-08 00:35] Vampire commented on #14
And of course also `initializeNexusStagingRepository` => `initialize${repositoryName.capitalize()}StagingRepository`

[2019-01-08 01:01] Vampire commented on #11
I have no problem with uglifying foreign code, I made a PR with the needed changes. :-D

[2019-01-08 19:17] marcphilipp commented on #14
Good questions! Since this plugin only supports a single repository, I think making the task names and config properties "dynamic" would add more confusion than make it clearer. WDYT?

[2019-01-08 19:21] marcphilipp commented on #15
Good catch! That's actually a bug introduced in 4c31054898b6f37f7665aa31c3d7a24700d7bdcf. I'd gladly accept a PR that fixes it. 😉

[2019-01-08 19:50] Vampire commented on #14
What do you mean by "single repository"?
You mean within one build?
Maybe this should be changed, so you can use it to release internally and to sonatype within one run. :-)

But even if not, actually that is what I would have expected and would be consistent to Gradle standard behavior.
You create a publication called `Xxx` and a repository called `Yyy`, then you get a task `publishXxxPublication

[2019-01-08 20:36] Vampire commented on #15
Is the `afterEvaluate` even necessary?
You commented `// PublishToMavenRepository tasks may not yet have been initialized`, but the JavaDoc of `configureEach` says `Configures each element in this collection using the given action, as each element is required. Actions are run in the order added.` which for me means this configuration is done lazily.

[2019-01-10 08:34] Vampire commented on #15
@marcphilipp ?

[2019-01-10 10:59] marcphilipp commented on #15
I think you're right. Please give it a try. 🙂

[2019-01-10 11:00] Vampire commented on #15
I did and didn't see anything failing, just wanted to double-check with you in case I just didn't test the correct edge case :-)

[2019-01-10 11:04] Vampire commented on #15
PR sent

[2019-01-10 23:22] Vampire commented on #15
Ok, the `afterEvaluate` **is** necessary unfortunately.

[2019-01-12 12:31] marcphilipp commented on #14
What we'd really need is a way to define a custom repository type or a way to extend `MavenArtifactRepository`.

Since that isn't currently possible, IIUC you'd prefer a config like the following, right?

[code]

[2019-01-24 18:47] bartoszwalacik commented on #8
@marcphilipp please reconsider adding support for the original `maven` plugin.
The new `maven-publish` plugin dosn't play along with the `signing` plugin. Signing is mandatory when we are publishing to Sonatype Nexus (and then to the Central).

I didn't find the easy way to use `signing` with `maven-publish` without writing complex scripts as described in this post
https://medium.com/@nmauti/sign-

[2019-01-27 15:30] marcphilipp commented on #8
@bartoszwalacik Which Gradle version are you using? The signing plugin supports maven-publish since Gradle 4.8: https://docs.gradle.org/4.8/release-notes.html#signing-publications

[2019-01-29 13:57] szpak opened #21 "Incompatible changes in gradle-nexus-staging-plugin extension"
I like the new extension's properties binding and I plan to change the [plain field](https://github.com/Codearte/gradle-nexus-staging-plugin/blob/df4ee7187839b2ef978486950e75c0832948b0f0/src/main/groovy/io/codearte/gradle/nexus/NexusStagingExtension.groovy) (such as `String username`) in gradle-nexus-staging-plugin to `Property<String> username`. As I briefly checked in build.gradle it is handled

[2019-01-30 14:13] ihostage commented on #11
Hi, @marcphilipp! 😉
Do you have a roadmap for release milestone `0.2.0`? Maybe the release date is scheduled?

[2019-01-31 20:12] marcphilipp commented on #11
@ihostage I cannot really promise a date but since #16 and #20 are almost ready it will probably be no later than early next week.

[2019-01-31 20:16] #15 closed, assigned to nobody

[2019-02-02 09:23] #11 closed, assigned to nobody

[2019-02-02 11:23] marcphilipp commented on #21
Changing from a plain field to a property is a breaking change. Only Groovy DSL build script that use the assignment syntax will continue to work. Kotlin DSL build scripts and binary plugins will break. The [official recommendation](https://docs.gradle.org/current/userguide/lazy_configuration.html#sec:lazy_configuration_faqs) is to "add a new Property or Provider and deprecate the old one".

If th

[2019-02-02 11:23] marcphilipp commented on #14
@Vampire ?

[2019-02-02 21:26] szpak commented on #21
I was thinking about the new properties, but the current names are good and intuitive :). IMHO, it would be more confusing for people to switch to the new properties and sometime in the future back again to the old names with the proper type. Your plugin is probably the only one that integrates directly with GNSP. The Kotlin usage in Gradle configuration also seems to be quite low (although I have

[2019-02-03 07:54] marcphilipp commented on #21
Makes sense! 👍

[2019-02-11 20:16] bartoszwalacik commented on #8
thanks @marcphilipp , I didn't know that

[2019-02-23 17:01] bartoszwalacik opened #22 "Execution failed for task ':[secure]-core:initializeNexusStagingRepository'"
I'm trying to use this plugin to overcome the Travis issue which broke automatic artifact releasing to Sonatype Nexus.

I can't make it work.

* I have upgraded gradle to 5.2.1
* I have switched to the supported `maven-publish` plugin

when I call `gradle publish`, I got the error:

[code]

Could you please provide a complete example of a `build.gradle` file?

Moreover, it's not clear for me, whic

[2019-02-23 18:37] bartoszwalacik commented on #22
this [change](https://github.com/javers/javers/commit/456dc0a3b98f7d7fa8ea1064d6aa78d1dfbb9fa2) solved the problem

[2019-02-23 18:37] #22 closed, assigned to nobody

[2019-03-10 10:13] vlsi opened #23 "Support for prepare..vote...release/rollback scenarios"
Hi,

1) @marcphilipp , thank you for your work on Gradle / nexus-publish-plugin it does clarify things

2) What do you think of release workflows when release artifacts have to be voted?
I mean ASF.
The case there is release artifacts have to be staged to a repository, then a vote takes place, then the staging repository is either dropped or promoted.

I think to model that with a state file on th

[2019-03-10 13:05] marcphilipp commented on #23
Sounds like for step one you could use this plugin along with the `closeRepository` task from @szpak's nexus-staging plugin. After the vote has taken place, you could set `stagingRepositoryId` of the `nexusStaging` extension and call `releaseRepository`. Would that work for you?

[2019-03-10 18:45] vlsi commented on #23
Indeed it should work. Thanks.

[2019-03-10 18:45] #23 closed, assigned to nobody

[2019-03-10 19:34] marcphilipp commented on #23
You're welcome!

[2019-03-10 20:24] vlsi opened #24 "Readme seems to use Kotlin DSL syntax yet "serverUrl = uri" is invalid"
`id("de.marcphilipp.nexus-publish") version "0.0.1-SNAPSHOT"` is a bit misleading since it looks like "please don't use the plugin it is a proof of concept only".

`version "0.2.0"` would read for me as "ok, you might try that at your risk"

`serverUrl = uri("https://your-server.com/staging")` does not seem to be a valid Kotlin DSL so it might confuse readers.

If you intend Groovy syntax in readm

[2019-03-11 06:53] #24 closed, assigned to nobody

[2019-03-11 06:56] marcphilipp commented on #24
Thanks for letting me know! I've changed the readme accordingly. Please take another look!

[2019-03-11 07:57] vlsi commented on #14
@marcphilipp , i think the above config would work.

My case is:
1) https://oss.sonatype.org/ for Maven Central
2) https://repository.apache.org/ for ASF repository

Apparently I can't use the same credentials there so `nexusPassword` property is not good enough.

On the other hand, I don't really need to push to multiple Nexus repositories at the same time yet (so I don't probably need `publishXx

[2019-03-11 10:11] Vampire commented on #14
Sorry for the late answer @marcphilipp, yes, something like that was what I had in mind.

[2019-03-13 15:18] vlsi commented on #21
@szpak , @marcphilipp , is there a reason why `nexus-publish-plugin` and `nexus-staging` are distinct plugins?

As far as I can tell, the key point of `nexus-publish-plugin` is it can call Nexus API to create a staging repository. Could it be just added to `nexus-staging`?

It would be really crazy if it would require a third plugin to "lookup an ID of an existing staging repository"

[2019-03-13 15:27] vlsi opened #25 "Public-facing typesafe API"
The plugin exposes tasks, however it does not allow to operate with them in a type-safe way.

a) For instance:

[code]

I tend to use `allprojects {  plugins.withType<NexusPublishPlugin> {` to apply something to all the project with a given plugin

b) Then `publishToNexus` string is private: https://github.com/marcphilipp/nexus-publish-plugin/blob/3691d1fa3fdf60eb9d30461ee114c4b45f7692dc/src/main/

[2019-03-13 20:41] szpak commented on #21
@vlsi That's not completely true. In fact `nexus-staging` is able to do it (creating an implicit staging repository) on its own (I use it in some of my integration tests with the old `maven` plugin). The problem here is however, to tell the official maven-publish plugin to upload to the just created repository not to the generic (implicitly created) one. That's the main work which is done by `nexu

[2019-03-13 21:16] vlsi commented on #21
That's what I mean. It looks like `nexus-staging` should be "just enough" provided it is updated to create a staging repository.

For now, I'm trying to peek the generated ID (for  https://github.com/marcphilipp/nexus-publish-plugin/issues/23 ), and it turns out the ID is not that public:

[code]

^^^ does the above look obvious? Is it what you expect consumers to write?
I wish I could just access

[2019-03-13 21:36] szpak commented on #21
As I already (vaguely) mentioned, that task [exists](https://github.com/Codearte/gradle-nexus-staging-plugin/blob/master/src/main/groovy/io/codearte/gradle/nexus/CreateRepositoryTask.groovy) in `nexus-staging` (mostly) for the testing purpose (and my dirty internal hacks with CDBoy).
When called, it saves the staging repository ID in the `nexus-staging` extension to be reused by the other tasks.

[2019-03-13 21:48] vlsi commented on #21
@szpak , thanks, I see

[2019-03-14 07:39] marcphilipp commented on #21
@szpak I was already tempted to add tasks for closing and releasing the created staging repos to this plugin because we're now using it internally at Gradle. So we should really consider "merging" our two plugins in one way or another. Since the functionality is Nexus-specific it will definitely not make its way into core Gradle.

[2019-03-14 14:50] marcphilipp commented on #25
Thanks for raising the issue. Would you have time to submit a PR?

[2019-03-14 15:07] vlsi commented on #25
I think I can do that.

[2019-03-15 21:05] vlsi commented on #25
`NexusPublishPlugin` is already public (it was fixed in 3ed5173b7ae0229115445f74e9f3ec51c9804b1d )

[2019-03-16 08:48] #25 closed, assigned to vlsi

[2019-03-16 08:51] marcphilipp commented on #21
I'm closing this issue because it's neither a bug report nor feature request. Feel free to open new, more focussed issues.

[2019-03-16 08:51] #21 closed, assigned to nobody

[2019-04-03 08:00] rmadisonhaynie opened #27 "Should we be using publish or publishToNexus task?"
I would just like to know if we should be using 'publish' or 'publishToNexus' task? I see in the readme the mention of the creation of the 'publishToNexus' task and in the sample to use the 'publish' task.

[2019-04-05 05:23] ghost opened #28 "Version number warning 0.2.0 or 0.20.0?"
I am using 0.2.0 and it looks as though this is the latest. Is this message needed?
Running under gradle 5.3.1 with groovy dsl

[2019-04-05 06:02] ghost commented on #28
Sorry, I just realised the 0.20.0 refers to the nexus-staging-plugin, not this plugin. I updated the version and the message went away. All good.

[2019-04-06 15:09] marcphilipp commented on #28
No worries! 🙂

[2019-04-06 15:09] #28 closed, assigned to nobody

[2019-04-06 15:12] marcphilipp commented on #27
While `publish` publishes all defined publications to all defined repositories, `publishToNexus` publishes all defined publications to the "nexus" repository. Thus, if you haven't set up another repository in the `publishing` block both tasks do the same.

[2019-04-06 15:12] #27 closed, assigned to nobody

[2019-04-20 21:37] vlsi opened #29 "Declare initializeNexusStagingRepository task at root project level"
`initializeNexusStagingRepository` is declared in each project.

It results in awkward parallelism: Gradle tries to launch initializeNexusStagingRepository concurrently, however it makes no sense since all of them share the same server url, thus they are just blocked.

Could a single task be created in the root project instead?
It would reduce the number of tasks, and it would make build paralleli

[2019-04-27 21:59] vlsi opened #30 "Invalid request is sent for service/local/staging/profiles/{id}/start"
The plugin sends `{"data":{"description":{"data":"publishing"}}}` message, however it does not match to the specification.

Here's API: https://oss.sonatype.org/nexus-staging-plugin/default/docs/path__staging_profiles_-profileIdKey-_start.html

Note that extra `<data>` is present only right after top-level element, however it looks like `WrappingTypeAdapterFactory` wraps all the objects with extra

[2019-04-28 20:12] vlsi commented on #30
Note: comment is visible in Nexus UI, so it makes sense to put project name + version.

The first two were created with `nexus-publish-plugin` while the last one was created with `nexus-staging-maven-plugin`:
<img width="719" alt="Снимок экрана 2019-04-28 в 23 10 58" src="https://user-images.githubusercontent.com/213894/56869572-fab69e00-6a0a-11e9-94c2-d4b911dbd957.png">

[2019-04-29 18:37] marcphilipp commented on #29
It's probably not the most frequent use case but different subprojects could use different server URLs just like they can use different repositories. Since only a subset of publications might be published, we cannot create all declared staging repos in a single task. Thus I currently don't see an easy way to wire this differently. Do you?

[2019-04-29 18:38] marcphilipp commented on #30
Good catch!

[2019-04-29 18:41] vlsi commented on #29
I see.

For instance:
1) Create a single task in the root project
2) Make the task use WorkerAPI to create repositories concurrently
3) Make all the sub-projects depend on the main task

Do you mean "it would look a bit awkward" :) ?

[2019-04-29 18:54] vlsi commented on #30
By the way, I figured that out when building https://github.com/vlsi/nexus-stub
It caused parse failures, so I just completely ignore request body for now: https://github.com/vlsi/nexus-stub/blob/57dbb30dd34187c87f1825d07a1f49e23106bcd3/src/main/kotlin/com/github/vlsi/nexusstub/staging/StagingProfilesController.kt#L44-L48

[2019-05-01 14:17] marcphilipp commented on #29
That and we don't necessarily need to create all staging repos, e.g. when only the publishing task of one of the subprojects is executed. We could probably inspect the task graph and only create those that we need, though.

[2019-05-01 15:03] #30 closed, assigned to nobody

[2019-05-01 15:04] marcphilipp commented on #30
I've fixed this in https://github.com/marcphilipp/nexus-publish-plugin/commit/cc61011d31a195b46b48f2bbe14a3d16f54b184a.

@vlsi Could you please give it another try with your nexus-stub project?

[2019-05-02 12:15] vlsi commented on #29
Isn't that handled by regular task dependency?

In other words, even current implementation of `nexus-publish-plugin` adds dependency of `publishTasks` on `initializeNexusStagingRepository`.

What's wrong with using the same approach?
I don't see why task graph needs analysis.

[2019-05-02 12:17] vlsi commented on #29
Ok, then a task per repository would do.

[2019-05-03 07:52] pavolloffay opened #32 "The staging repository ID is not provided"
Hello,

I am run into issues when using this plugin. I am not sure whether it is my configuration or bug in the plugin.

We are getting this error when releasing from travis. Release
[code]

Our gradle release configuration is here
loading publish script https://github.com/jaegertracing/jaeger-client-java/blob/master/build.gradle#L125
nexus staging https://github.com/jaegertracing/jaeger-client-ja

[2019-05-03 09:11] marcphilipp commented on #32
Both the `closeRepository` and `releaseRepository` tasks are not provided by this plugin, but by the [gradle-nexus-staging-plugin](https://github.com/Codearte/gradle-nexus-staging-plugin).

[2019-05-03 09:17] pavolloffay commented on #32
The release failed because there were multiple staging repositories created. I thought that this plugin would solve that:

[2019-05-03 12:51] marcphilipp commented on #32
@szpak Could you take a look, please?

[2019-05-05 21:48] szpak commented on #32
@pavolloffay, I've took a look at your Travis [build](https://travis-ci.org/jaegertracing/jaeger-client-java/jobs/526098222) and it fails as the new mechanism to pass an explicitly created staging repository id is [not active](https://travis-ci.org/jaegertracing/jaeger-client-java/jobs/526098222#L774):

As a result, a "heuristic" to try to find a staging repository is used which fails as there are

[2019-05-06 06:08] marcphilipp commented on #32
Thanks for looking into it, @szpak! Calling `publish` is not an issue, it does the same as `publishToNexus` unless there are other, explicitly defined repos.

I've created a PR to fix the config here: https://github.com/jaegertracing/jaeger-client-java/pull/621

[2019-05-06 06:08] #32 closed, assigned to nobody

[2019-05-06 08:07] szpak commented on #32
Thanks @marcphilipp for pointing it out. Hmm, writing e2e tests for my plugin with the early version of your plugin I believe I had some issues with using just the `publish` task. I will give it an another try and will update my blog post (which I refer in the README).

[2019-05-17 14:39] slonopotamus opened #33 "nexus-publish-plugin + gradle-nexus-staging-plugin = WrongNumberOfRepositories"
I'm trying to set up publishing according to [this article](https://solidsoft.wordpress.com/2019/02/22/reliable-releasing-to-maven-central-from-travis-using-gradle-2019-edition/).

Here's my repo: https://github.com/bozaro/git-lfs-java/tree/6464e5d36cb4f7c8f1579a46b740e66e44a11d9f

Travis calls `gradle publishToNexus closeAndReleaseRepository`: https://github.com/bozaro/git-lfs-java/blob/6464e5d36

[2019-05-17 14:43] slonopotamus commented on #33
Okay, I think I know what's the problem. I'm trying to use all this machinery for a SNAPSHOT build.

[2019-05-17 14:58] slonopotamus commented on #33
Aaaargh. I cannot enable staging for SNAPSHOTs because sonatype [doesn't support staging for snapshots](https://travis-ci.org/bozaro/git-lfs-java/jobs/533845145#L489). So, seems like the only option is to write conditional logic that will call `closeAndReleaseRepository` depending on whether we're building a SNAPSHOT or not, though it is nontrivial to know what repo (snapshot or release) will be u

[2019-05-17 21:46] szpak commented on #33
@slonopotamus Definitely. Staging repositories doesn't make much sense for SNAPSHOTs.

I would just use `onlyIf { isSnapshot() }` in your Gradle script (rather than moving it to Bash in Travis) where `isSnapshot` is a method which (most likely) checks if version ends with `-SNAPSHOT` (I believe I have seen that checks in the Gradle itself, but maybe now there is some better option to write that `i

[2019-05-17 21:57] szpak commented on #33
[That](https://travis-ci.org/bozaro/git-lfs-java/jobs/533880791#L996-L1008) Travis build after your change looks somehow strange:
[code]
Can you check that repository in the Nexus UI. There could be some validation errors presented.

[2019-05-18 08:08] slonopotamus commented on #33
I'm not quite sure what stuff in gradle script you're suggesting to guard with `onlyIf`.

I could imagine something like: create new task like `publishProperly`, make it depend on `publish` and for releases make it also depend on `closeAndReleaseRepository`.

I disagree with "Staging repositories doesn't make much sense for SNAPSHOTs". For multimodule projects, I want atomic deploys to repo, no ma

[2019-05-18 09:28] slonopotamus commented on #33
Or you mean that I always call `closeAndReleaseRepository` but in `build.gradle` do this?

[code]

If yes, maybe this logic should go to nexus-publish/nexus-staging? Because you already have logic that decides what repository (release or snapshot) to deploy artifacts to.

[2019-05-18 20:38] szpak commented on #33
nexus-staging in general is upload/publish agnostic. You could run it even for the artifacts published earlier (e.g. just by passing the staging repository ID). The plugin doesn't know what is in that repository.
However, in general it most of the cases where nexus-publish integration is enable the current project version determines if it is a snapshot or not.

[2019-05-18 20:40] szpak commented on #33
Btw, in Groovy you could write something like that:
[code]
to reduce duplication. Probably in Kotlin it is also possible.

[2019-05-18 20:43] szpak commented on #33
Then you can just resign from using `-SNAPSHOT` and just bump a version number by one on every commit/push or CI build.

[2019-05-18 23:23] slonopotamus commented on #33
Anyway. I managed to resolve my problem (by using `onlyIf` like you suggested). If you believe there is nothing to improve on nexus-publish/nexus-staging side for projects that deploy both snapshots and releases, feel free to close this issue.

[2019-05-20 18:10] marcphilipp commented on #33
I think this should work and remove the duplicated logic:

[code]

[2019-05-20 18:10] #33 closed, assigned to nobody

[2019-05-20 18:57] slonopotamus commented on #33
[code]

This is pretty good, but won't work in multi-project setups where parent project is not published, so it doesn't have `nexus-publish` plugin and thus doesn't have `nexusPublishing` section.

Anyway, thanks for help!

[2019-06-28 13:37] britter opened #34 "Provide a way to configure NexusClient connection timeouts"
Although a connection timeout of 1 Minute seems like quite a lot, when publishing to Maven Central this is sometimes not enough. It would be good if the timeouts could be configured.

[2019-06-28 14:55] #34 closed, assigned to nobody

[2019-06-30 19:58] vlsi opened #35 "Use prefix search to determine staging profile Id"
Use case:
1) Nexus contains staging profile with `name: org.apache.calcite`
2) Project to be deployed has `groupId: org.apache.calcite.avatica` (see Maven project here: https://github.com/apache/calcite-avatica, and it looks like it has no configuration for staging profile group/id)

NPP fails as follows:

[code]

It looks like the following chain should use `startsWith` and it should identify the

[2019-06-30 20:09] szpak commented on #35
@vlsi Have you tried to set [`packageGroup`](https://github.com/marcphilipp/nexus-publish-plugin/blob/master/src/main/kotlin/de/marcphilipp/gradle/nexus/NexusPublishExtension.kt#L39)?

In nexus-publish-plugin directly or in the gradle-nexus-staging-plugin configuration (if you use it) which should be leveraged by nexus-publish-plugin.

[2019-06-30 20:24] vlsi commented on #35
@szpak , I know packageGroup is there, however it is kind of unexpected to configure groups here and there.

[2019-06-30 20:34] vlsi commented on #35
I see. The same code is present in gradle-nexus-staging-plugin: https://github.com/Codearte/gradle-nexus-staging-plugin/blob/679e4cb67bb0af7050cc6d1fa55e0e7dbeeafc8c/src/main/groovy/io/codearte/gradle/nexus/logic/StagingProfileFetcher.groovy#L19

I guess it might need to be fixed as well.

[2019-06-30 20:37] vlsi commented on #35
What I mean is Maven never required me to configure "staging profile group" explicitly, and it enables to push under sub-groups just fine. So I would expect the same (or better) behavior from Gradle plugins.

[2019-06-30 20:58] szpak commented on #35
I would say "improved" instead of "fixed" :).

In GNSP the assumption was to use the Gradle project group or `packegeGroup` which has to be exactly matching. Your logic covers some extra case (nice!) which should work unless the same user has access to both `com.example` (all projects in the company/organization) and `com.example.rnd` (only projects from the R&D department) and the project with a

[2019-06-30 21:20] vlsi commented on #35
Thanks for the review. I thought I was using `.name` for comparison.
Now I get Id only after sorting by the prefix length.

[2019-06-30 21:29] szpak commented on #35
Great. Feel free to create a PR also in GNSP :).

P.S. The "unit tests" for that could be written in [StagingProfileFetcherSpec](https://github.com/Codearte/gradle-nexus-staging-plugin/blob/679e4cb67bb0af7050cc6d1fa55e0e7dbeeafc8c/src/test/groovy/io/codearte/gradle/nexus/logic/StagingProfileFetcherSpec.groovy) (in GNSP).

[2019-07-03 18:01] #35 closed, assigned to nobody

[2019-07-31 10:34] vlsi commented on #14
It looks like `publishToNexus` duplicates built-it `"publishAllPublicationsTo" + capitalize(repository.getName()) + "Repository"` task which is already present in Gradle.

Should `publishToNexus` be just removed from N-P-P?
See also https://github.com/gradle/gradle/issues/10132

[2019-07-31 11:46] marcphilipp commented on #14
Looks like this was added in Gradle 5.3. I wasn't aware of that, thanks for the pointer! 👍

[2019-08-10 19:38] vlsi opened #38 "Print warning for staging profile id is not provided"
Case: user uses very basic configuration
Problem: NPP requests stagingProfileId which is constant for a given Nexus instance.
Suggestion: print relevant warning (lifecycle level) in case `stagingProfileId` is not defined and the task is trying to fetch one.

Caveat: someone might want to explicitly go with "always query Nexus" approach, so there might be a reason to add "silence the warning" flag.

[2019-08-11 08:40] #14 closed, assigned to marcphilipp

[2019-08-11 15:21] marcphilipp commented on #14
@vlsi Regarding the `"publishAllPublicationsTo" + capitalize(repository.getName()) + "Repository"` task I'm undecided. I think I'll leave the shorter `publishTo$RepoName` in place for now.

[2019-08-11 15:46] vlsi commented on #14
I though as follows:
1) Gradle has the feature embedded, so you might want to provide a way to avoid creation of the task that duplicates the function.
2) I thought you were on Gradle team, so you might have better chances than me to influence Gradle core so they rename longer task to a shorter name (see item 4 in https://github.com/gradle/gradle/issues/10132 )

[2019-08-12 06:33] marcphilipp commented on #14
This plugin is compatible with Gradle 4.10.x and the new task is only available since 5.3. Thus I think there's some value in keeping it. While I'm part of the Gradle team I don't work on the build tool at the moment. I'll bring it up with @melix who has added the task but chances are we'll have to keep it for backwards compatibility. Thus, I see two options for this plugin: Remove the task or cre

[2019-08-16 18:52] ameliariely opened #39 "Task publishToSonatype skipped as it has no actions"
Hi there!

I am using version 0.3.0 and currently unable to publish my library with the following message:
[code]

We have sonatype username and password set up in our repository block. https://github.com/lyft/Kronos-Android/blob/master/gradle/publish.gradle
I'd love any direction you could point me in for debugging this. Thank you!

[2019-08-16 19:09] ameliariely commented on #39
Figured it out :)

[2019-08-16 19:09] #39 closed, assigned to nobody

[2019-08-22 01:23] Vampire opened #40 "Exception when trying to read group name"
I'm trying to release this project: https://github.com/Vampire/command-framework

But unfortunately I get this exception:

[code]

[2019-08-22 02:31] Vampire commented on #40
Actually while looking at the code I wonder how that should ever have worked unless `packageGroup` is defined explicitly on the staging extension.
The staging task uses the configured extension value or else the project group.
The publish plugin always uses the configured staging extension value if the plugin is applied whether it is set or not.
So as far as I see from the code, this can never hav

[2019-08-22 02:36] Vampire commented on #40
I guess something like
[code]
instead of
[code]
should do, but I didn't test it.

[2019-08-22 02:53] Vampire commented on #40
Ok I did a quick test and it seems to work as expected.

[2019-08-22 09:55] marcphilipp commented on #40
Fixed by ae733d59eaa5f7013a6a2d578cda8b4dfef17865.

[2019-08-22 09:55] #40 closed, assigned to nobody

[2019-08-22 10:15] marcphilipp commented on #40
This has been released in 0.3.1.

[2019-08-22 10:41] Vampire commented on #40
Prefect, thanks

[2019-08-31 10:33] gajanan8086 opened #41 "Support for Customized Description"
While using Nexus staging repositories it creates the repository name with profile-name-<sequenceNumber>. It becomes difficult to search for specific artifact in the Nexus Staging repositories GUI View belonging to same group.

With support for customized description user can override this with artifact name and spot the repository without any issue.

Currently description is being defaulted to "C

[2019-08-31 11:25] gajanan8086 commented on #41
Support for updating description is already added in nexus staging plugin which we will be using to close the staging repository so don't think we need it here.

[2019-08-31 11:25] #41 closed, assigned to nobody

[2019-09-26 12:34] slonopotamus opened #43 "connectTimeout is hardcoded to 1 minute"
https://github.com/marcphilipp/nexus-publish-plugin/blob/master/src/main/kotlin/de/marcphilipp/gradle/nexus/internal/NexusClient.kt#L42

I'd either set it to the same value as read/write timeouts or provide a separate option.

[2019-09-26 16:39] marcphilipp commented on #43
@slonopotamus Do you have a concrete use case for making this configurable?

[2019-09-26 16:45] slonopotamus commented on #43
I'm not sure. Currently, OSS Sonatype Nexus is suffering from severe performance issues and drops connections due to this timeout. If timeout was configurable, I could increase it to see if it helps or not.

[2019-09-26 23:24] jpoehnelt commented on #43
having same issue with this plugin and sonatype, not sure if this is the solution or not

[code]

[2019-09-27 06:44] marcphilipp commented on #43
Thanks for the info. In that case, I'd suggest that we add a new `connectTimeout` property to the `NexusPublishExtension`.

@slonopotamus @jpoehnelt Would one of you be interested in submitting a PR?

[2019-09-27 06:46] slonopotamus commented on #43
I'll do that, no problem

[2019-09-27 07:47] slonopotamus commented on #43
For the reference, here's Sonatype bugreport about this problem: https://issues.sonatype.org/browse/OSSRH-51875

[2019-09-27 12:22] #43 closed, assigned to slonopotamus

[2019-10-28 09:12] asuslennikov opened #46 "Gradle task dependency for initializeSonatypeStagingRepository not always works"
Hi, it seems that initialization task is not always set correctly as dependency for publish task.
I have a multi-module project, so I'm interested in extracting of publishing logic into separate file.

### Test configuration
Therefore I  add inclusion in my root project's script:
[code]
And in release.gradle:
[code]
I can't move the `apply plugin: "de.marcphilipp.nexus-publish"` into `projectsEval

[2019-11-01 19:07] marcphilipp commented on #46
What's the reason for defining the subprojects' publications in `projectsEvaluated`?

[2019-11-05 18:00] asuslennikov commented on #46
Some artifacts, which are listed under publications section, depend on features, provided by plugins in modules. For example:
[code]

[2019-11-05 19:36] marcphilipp commented on #46
Then those publications should be defined/modified in the relevant subprojects.

[2019-11-05 20:15] asuslennikov commented on #46
Well, it is ok when you have a few subprojects, but when you have 6 pure java modules and 5 android modules you are definitely interested in extracting such type of logic. It is possible to use two pub. definitions - one for java module and another one for android. And after that apply a correct file for each subproject. But it's 11 `apply` instead of just one in my scenario.

I understand that it

[2019-11-06 09:01] marcphilipp commented on #46
You could define the publications using `project.pluginManager.withPlugin()` in the root build script.

[2019-11-06 19:17] asuslennikov commented on #46
Thanks for the hint. I started a test project from scratch and realized that there is no actual need to place the whole pub. definition inside the `afterEvaluate` block, only artifact should be enclosed in it. So:
[code]

With that configuration your plugin works just fine and creates the correct task chain.

Thank you for your efforts in writing and maintaining this plugin.

[2019-11-06 19:17] #46 closed, assigned to nobody

[2020-01-30 21:29] nbilyk opened #47 "Add check that extra checksums are disabled."
Later versions of Gradle produce 256 and 512 bit hashes, which Sonatype doesn't support on the maven metadata files.  (See issue https://github.com/gradle/gradle/issues/11308)

The solution is for users to add an undocumented property to their builds, but I recommend that this plugin add the following check:
[code]

[2020-01-30 21:46] szpak commented on #47
When did you get that errors?

Uploading to Sonatype Nexus yesterday with Gradle 6.0.1 some test project I wasn't needed to add any extra flag. The old and new signatures were uploaded and I was able to close and promote that staging repository.

![image](https://user-images.githubusercontent.com/148013/73493078-4f2fe500-43b2-11ea-80b4-1389b71b55f1.png)

Maybe Sonatype fixed it on the side?

[2020-01-31 14:37] marcphilipp commented on #47
Sonatype fixed the issue wrt. sha256 and sha512 checksums for artifacts. But releasing to Maven central currently fails due to those checksums for `maven-metadata.xml`: https://issues.sonatype.org/browse/MVNCENTRAL-5276

[2020-01-31 23:27] szpak commented on #47
Those?
![image](https://user-images.githubusercontent.com/148013/73581271-e9625c80-4488-11ea-8326-34d26b0cacd6.png)

It would mean that "No-sync Releases" which I use to do not pollute Maven Central is already fixed or has different validation policies:

![image](https://user-images.githubusercontent.com/148013/73581379-478f3f80-4489-11ea-9d0d-4c043d84299b.png)

But I you @nbilyk hit this error re

[2020-02-01 17:16] marcphilipp commented on #47
The validation that's triggered when closing the repo does not show any errors in this case. Only when you release the repo it complains about duplicate artifacts.

[2020-02-03 17:53] nbilyk commented on #47
Right, I should have been clear that the problem is just in releasing, not staging or closing.  With the flag there are no issues, but that flag isn't documented on the Gradle side and adding a check to this plugin (or forcing the flag if possible) would be very helpful.

[2020-02-03 18:55] marcphilipp commented on #47
AFAIK this only affects Maven Central, though. Releasing to other Nexus-based repositories with those checksums should be fine.

[2020-05-25 09:30] dorkbox commented on #46
In case anyone else arrives here, trying to do the same thing (simplify the boiler-plate code for publish + release to sonatype), I have a working example here: https://git.dorkbox.com/dorkbox/PublishPlugin

[2020-07-10 12:13] tomcashman opened #48 "SocketTimeout despite staging repository being created"
Currently receiving the following exception every run despite the staging repository appearing on sonatype.

[code]

[2020-07-10 13:06] tomcashman commented on #48
Increasing both connectTimeout and clientTimeout to 15 minutes seems to have resolved the issue. I'm guessing Sonatype is running slow today.

[code]

[2020-07-10 13:06] #48 closed, assigned to nobody

[2020-11-06 16:08] balamurugana opened #49 "Task publishMavenJavaPublicationToMavenLocal fails with com.github.johnrengelman.shadow v6.0.0"
When using with shadow plugin  com.github.johnrengelman.shadow v6.0.0 fails; however it works with v5.2.0

[code]

For information is available in the issue https://github.com/minio/minio-java/issues/1095 and gradle script is available at https://github.com/minio/minio-java/blob/master/build.gradle

[2020-11-14 18:11] marcphilipp commented on #49
This issue is unrelated to the nexus-publish-plugin, see https://github.com/minio/minio-java/pull/1115.

[2020-11-14 18:11] #49 closed, assigned to nobody

[2021-01-28 15:37] JavierMeep opened #50 "Remove `Repository` suffix"
Normal task:
- `publishToSonatype`

Meanwhile a specifict platform task:

- `publishMingwX64PublicationToSonatypeRepository`

I think it should be:

- `publishMingwX64PublicationToSonatype`

![image](https://user-images.githubusercontent.com/62933883/106161342-22f6a200-6187-11eb-8743-ee5f480651a9.png)

[2021-01-28 17:03] marcphilipp commented on #50
That task name is generated by Gradle so I'm afraid I cannot shorten it. We could make the `publishToSonatype` longer for consistency but I don't think that's what you want, either.

[2021-01-28 17:03] #50 closed, assigned to nobody

[2021-01-28 21:35] mkopylec commented on #39
Could you please tell how have yu solved the issue?

[2021-01-29 01:59] JavierSegoviaCordoba opened #51 "Kotlin Multiplatform and GitHub matrix"
I need to run two machines to publish the macOS artifacts and the Windows artifacts.

The problem is this provokes multiple repositories in Nexus Repository Manager, for example:
[code]

How can I avoid this problem? I am using Nexus Staging plugin and I am indicating the exact `stagingProfileId`

[2021-02-21 01:19] mockitoguy opened #52 "How stagingProfileId is intended to work?"
Nice plugin! Question: how does the `stagingProfileId` suppose to work?

My setup:

[code]

Running `/.gradlew initializeSonatypeStagingRepository` yields:

[code]

I could probably debug this but I figured an issue will serve a documentation :-) Ping @szpak

[2021-02-21 10:40] szpak commented on #52
As a quick workaround just remove that line. The staging profile id will be fetch from Nexus automatically based on your project group name.

For longer answer you could refer to [gradle-nexus-staging-plugin](https://github.com/Codearte/gradle-nexus-staging-plugin) where you should configure:
[code]
and find one extra task:
[code]
In general, it is advised to set that value. While NPP and GNSP can

[2021-02-21 15:03] mockitoguy commented on #52
Really looking forward to trying the new plugin!

[2021-02-22 21:29] lamba92 opened #53 "staginProfileId not honored"
In project [kotlingram](https://github.com/lamba92/kotlingram/) I am trying to publish a Kotlin/Multipaltform project that needs Windows, MacOs and Linux, and uses GitHub Actions to do so (see [`publication_ci.yml`](https://github.com/lamba92/kotlingram/blob/master/.github/workflows/publication_ci.yml)).

When executing `gradlew publishToSonatype` the Nexus Publish Plugin do not use the `stagingPr

[2021-02-22 21:53] lamba92 commented on #53
Duplicate of #51

[2021-02-24 19:59] #53 closed, assigned to nobody

[2021-02-24 20:04] marcphilipp commented on #53
This plugin is now deprecated in favor of the new [Gradle Nexus Publish Plugin](https://github.com/gradle-nexus/publish-plugin) which provides additional tasks to close and release staging repositories. Please refer to the [migration guide](https://github.com/gradle-nexus/publish-plugin/wiki/Migration-from-gradle_nexus_staging-plugin---nexus_publish-plugin-duo) for details on how to make the switc

[2021-02-24 20:04] marcphilipp commented on #52
This plugin is now deprecated in favor of the new [Gradle Nexus Publish Plugin](https://github.com/gradle-nexus/publish-plugin) which provides additional tasks to close and release staging repositories. Please refer to the [migration guide](https://github.com/gradle-nexus/publish-plugin/wiki/Migration-from-gradle_nexus_staging-plugin---nexus_publish-plugin-duo) for details on how to make the switc

[2021-02-24 20:04] #52 closed, assigned to nobody

[2021-02-24 20:05] marcphilipp commented on #51
This plugin is now deprecated in favor of the new [Gradle Nexus Publish Plugin](https://github.com/gradle-nexus/publish-plugin) which provides additional tasks to close and release staging repositories. Please refer to the [migration guide](https://github.com/gradle-nexus/publish-plugin/wiki/Migration-from-gradle_nexus_staging-plugin---nexus_publish-plugin-duo) for details on how to make the switc

[2021-02-24 20:05] #51 closed, assigned to nobody

[2021-02-24 20:05] marcphilipp commented on #47
This plugin is now deprecated in favor of the new [Gradle Nexus Publish Plugin](https://github.com/gradle-nexus/publish-plugin) which provides additional tasks to close and release staging repositories. Please refer to the [migration guide](https://github.com/gradle-nexus/publish-plugin/wiki/Migration-from-gradle_nexus_staging-plugin---nexus_publish-plugin-duo) for details on how to make the switc

[2021-02-24 20:05] #47 closed, assigned to nobody

[2021-02-24 20:05] marcphilipp commented on #38
This plugin is now deprecated in favor of the new [Gradle Nexus Publish Plugin](https://github.com/gradle-nexus/publish-plugin) which provides additional tasks to close and release staging repositories. Please refer to the [migration guide](https://github.com/gradle-nexus/publish-plugin/wiki/Migration-from-gradle_nexus_staging-plugin---nexus_publish-plugin-duo) for details on how to make the switc

[2021-02-24 20:05] #38 closed, assigned to nobody

[2021-02-24 20:05] marcphilipp commented on #29
This plugin is now deprecated in favor of the new [Gradle Nexus Publish Plugin](https://github.com/gradle-nexus/publish-plugin) which provides additional tasks to close and release staging repositories. Please refer to the [migration guide](https://github.com/gradle-nexus/publish-plugin/wiki/Migration-from-gradle_nexus_staging-plugin---nexus_publish-plugin-duo) for details on how to make the switc

[2021-02-24 20:05] #29 closed, assigned to nobody

[2021-02-24 20:05] marcphilipp commented on #8
This plugin is now deprecated in favor of the new [Gradle Nexus Publish Plugin](https://github.com/gradle-nexus/publish-plugin) which provides additional tasks to close and release staging repositories. Please refer to the [migration guide](https://github.com/gradle-nexus/publish-plugin/wiki/Migration-from-gradle_nexus_staging-plugin---nexus_publish-plugin-duo) for details on how to make the switc

[2021-02-24 20:05] #8 closed, assigned to nobody